.musicTitle {
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem;
    margin-left: -130px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(168, 33, 121);
    text-shadow: 4px 4px 1px rgba(255, 216, 239, 0.7);
    user-select: none;
}

.musicTitle2 {
    margin-top: -50px;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 5px #00000058;
    user-select: none;
    margin-bottom: 80px;
    z-index: 2;
}

.musicTitle2::after {
    content: '';
    position: relative;
    margin-left: -140px;
    margin-top: 38px;
    width: 170px;
    height: 30px;
    background-color: rgba(255, 242, 0, 0.843);
    border-radius: 2px;
    z-index: -1;
}

.musicPlayer {
    margin: 0 auto;
    width: 60%;
}

.musicPlayer iframe {
    border-radius: 10px;
}