.card {
    padding: 1rem 0 1rem 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    /* border: 2px solid #abc1ab;
    background-color: #eaf1e7; */
    background-color: #e7ebf1;
    border: 2px solid #c7d2e2;
    border-radius: 10px;
    width: 29%;
    transition: 0.5s;
}

.card:hover {
    transform: translate(0, -2rem);
    transition: 0.5s;
}

.info {
    text-align: center;
    width: 282px;
    align-items: center;
}

.titulo {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    line-height: 1.75rem;
    text-transform: uppercase;
    margin: 1rem 0 1.4rem;
    text-shadow: 1px 2px 3px #ff997c;
}

.texto {
    font-size: 0.96rem;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 20px;
    color: black;
}

.episodio{
    color: #482218;
    font-size: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;
}