.postContainer {
    padding: 0 6vw 3.625rem;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.post {
    text-align: center;
    width: 282px;
    padding-bottom: 1.5rem;    
}

.homeTitle {
    display: flex;
    justify-content: center;
}

.capa {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.capa:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
 
.nickname {
    font-weight: 600;
    font-size: 1.15rem;
    color: #032202;
}

.ator {
    font-weight: 600;
    color: #230000;
}

.texto {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.titulo {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.25rem;
    color: #003c4d;
    font-weight: 800;
    line-height: 1.75rem;
    margin: 0.5rem 0 1rem;
}

@media (max-width: 1100px) {
    .post {
        width: 336px;
    }
 
    .titulo {
        font-weight: 600;
    }
}