.link {
    font-size: 0.95rem;
    font-weight: 700;
    padding-bottom: 15px;
    color: #acacac;
    text-transform: uppercase;
}

.link:hover {
    color: #98bb98;
}

.linkSublinhado {
    color: #1b1b1b;
}

.linkSublinhado:hover {
    color: #1b1b1b;
}